body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    background-color: #0b0602;
    color: #e01c1c;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #db1f1f;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
 h1 {
    text-align:center;
    font-family:cursive
 }
h2{
    text-align: center;
    color: #e01c1c;
}