body{
    border: 2px solid black;
    padding: 30px;
    }
sub{
    color:solid black;
    font-size:20px;
    bottom: -19;
    position: relative;
    left: -2.5em;
    padding: 0px;
    vertical-align:bottom;
}